<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bold.Licensing" version="5.1.23" targetFramework="net48" />
  <package id="BoldReports.WPF" version="5.1.23" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net48" />
  <package id="MajorsilenceReporting-Core" version="4.15.0" targetFramework="net48" />
  <package id="MajorsilenceReporting-Viewer" version="4.15.0" targetFramework="net48" />
  <package id="MajorsilenceReporting-WpfViewer" version="4.15.0" targetFramework="net48" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net48" />
  <package id="Syncfusion.Chart.WPF.Classic" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.DocIO.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Gauge.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Grid.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Presentation.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.SfMaps.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF.Classic" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net48" />
</packages>